@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/*    Reset CSS  */
* { margin:0;  padding:0;}
ol,ul {list-style: none; }
body {width:100vw; height:100vh; background:#fff; color:#fff;  font-family: 'Open Sans', sans-serif;}
a { outline:0; text-decoration:none; color:#fff;}
img { outline:0;}

body { background-image:url(../images/bg.jpg); background-repeat: no-repeat; background-size:cover; }

#cover {width:100%; height:100%; position:fixed; background-color:rgba(202,206,23,0.85); background-size:cover; animation: fadein 6s infinite; transition:background-color 1s;}

@keyframes fadein{
    0%,100%{background-color:rgba(202,206,23,0.85);}
    50%{background-color:rgba(202,206,23,0.60);}
}
#wrapper { width:1466px; height:100%; margin:0 auto; position:relative; }

header {  height:10%;}
header h1{float:left; margin:20px;}
header .menu { float:right; width:520px; margin:30px; text-shadow: 2px 2px 6px #888; }
header .order { float:left; padding:5px 20px; text-align:right; border:2px solid #fff; border-radius:30px; box-shadow:2px 2px 6px #999; transition:all .5s;}
header .order a { text-shadow: 2px 2px 6px #999;}
header .order:hover{background-color:#fff; }
header .order:hover>* {color:rgb(56,140,4); text-shadow:none; transition:all .5s;}
header .menu li { float:left; margin: 5px 15px 5px 12px; }
header .menu li a { transition:all .5s;}
header .menu li a.selected {color:#222;}
header .menu li a:hover{color:rgb(56,140,4); }
header .menu li a.lang:hover{color:#222; }
header .menu li a.selected:hover {color:#222; cursor:default;}
header .menu .icon-search {font-size:1.3rem; vertical-align: top;}
#center { position:relative; width:70%; height:50%; margin:0 auto;  }
#center .mainimg{ position:absolute; left:-0%; top:26%; animation:ani 3s .5s infinite; transition:all .5s;}

@keyframes ani{
    0%,100%{ top:26%;}
    50%{top:23%;}
}

#center .text{position:absolute; width:600px; height:200px; top:65%; left:65%; transform:translateX(-50%) translateY(-50%); }
#center .text a { display:inline;}
#center .text p { text-indent: 160px; font-size:1.1rem; font-weight: 400;  width: 110%; height:20px; position:absolute; bottom:0;}
#center .title {font-size:5.2rem; font-weight:700; line-height:80px; text-align: center; letter-spacing:-0.2rem; float:left; }
#center .arrow{ position:absolute; right:-55px; top:90px; animation:ani2 2s 2s infinite; transition:all .5s;}

@keyframes ani2{
    0%,100%{right:-55px;}
    50%{right:-65px;}
}

#bottom { width:80%; height:80%; position:relative; margin:0 auto; }
#bottom li { float:left; margin:20px; margin-top:100%; position:relative; /*outline:2px solid red; */overflow:hidden; border-radius:100%;}
#bottom img {transition:all .3s;}
.img-cover {position:absolute; top:200%; left:50%; transform:translate(-50%, -50%); width:75%; height:100%; border-radius:100%; background:rgba(0,0,0,.65); overflow:hidden; transition:all .3s; }
#bottom em {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:#fff; font-size:2rem; letter-spacing:-0.2rem;font-style: normal; font-weight:bold; letter-spacing: 0; z-index: 2;}
#bottom li:hover .img-cover {top:50%; }
#bottom li:hover img {transform:scale(0.8); filter:blur(1px)}


